﻿@model List<MVCCrud.Models.ViewModels.ListTablaViewModel>
@{
    ViewBag.Title = "Listar  Usuarios";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:left;padding:5px">
    <a href="~/Tabla/Nuevo" class="btn btn-sm btn-primary" style="float:left;">Nuevo Usuario</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Fecha de nacimiento</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.ID</td>
                    <td>@oElemento.Nombre</td>
                    <td>@oElemento.Correo</td>
                    <td>
                        <a class="btn btn-secondary" href="~/Tabla/Editar/@oElemento.ID">Editar</a>
                        <a class="btn btn-danger" href="~/Tabla/Eliminar/@oElemento.ID">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>